/* CSS styles */
h1 {
  font-family: Georgia, serif;
  color: #83a888;
  font-size: 36px;
}
h2 {
  font-family: Trebuchet MS, sans-serif;
  color: #6b4b3e;
  font-size: 20px;
}
body {
    padding: 40px;
    background: #fff8f5;
  
    font-family: Times New Roman, serif;
    font-size: 16px;
    color: #345447;
}